WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=https://us-south.ml.cloud.ibm.com
GRANITE_MODEL_ID=ibm/granite-3-1-8b-instruct
GRANITE_EMBEDDING_MODEL=ibm/granite-embedding-30m-english
CORS_ORIGINS=http://localhost:3000
